<h3 class="mb16">1<sup>er</sup> février: Éliminatoires</h3>
<h4 class="mb8">Lieu et date</h4>
<p>
  L'éliminatoire a lieu le <strong>mercredi 1<sup>er</sup> février 2017</strong> dans votre école ou dans l'un des 11 centres régionaux.<!--  L'épreuve durera 1h30. -->
</p>
<h4 class="mb8">Types de questions</h4>
<p>
	Plus d'information bientôt.
</p>
<h4 class="mb8">Comment participer ?</h4>
<p>
	Les inscriptions seront ouvertes en novembre ou décembre. Plus d'informations à propos du concours 2017 peuvent être trouvées dans notre <%= link_to t(:FAQ), 'faq' %>.
</p>
