<h3>27 janvier: Éliminatoires</h3>
<h4>Lieu et date</h4>
<p>
  L'éliminatoire a lieu le <strong>mercredi 27 janvier 2016</strong> dans l'un des <strong>11 centre régionaux</strong> à travers la Belgique ou <strong>dans votre école</strong>. L'épreuve durera 1h30.
</p>
<h4>Types de questions</h4>
<p>
  L'épreuve est uniquement sur papier. Aucune question ne comporte de programmation, uniquement des exercices de raisonnement informatique ne nécessitant aucune connaissance préalable. 
</p>
