<h3>Finale 2017</h3>

<h4>Lieu et date</h4>
<p>
  L'éliminatoire a lieu le <strong>samedi 11 mars 2017</strong> à Bruxelles. Plus d'informations sur le lieu précis et l'heure de l'épreuve suivront.
</p>
<h4>Types de questions</h4>
<p>La finale se déroulera sur papier comme pour les éditions précédentes. Vous retrouverez ci-dessous <%= link_to "quelques exemples de questions", '#sample-questions-final' %> et les <%= link_to "questions de la finale 2016", "#questions-2016" %>.</p>
