<h3>Meedoen aan beCP?</h3>
<p>Om mee te doen aan de beCP moet je ons tonen dat je kan programmeren en dat je gemotiveerd bent om verder bij te leren.</p>
<p>Als je nog niet begonnen bent aan het vijfde jaar secundair, vragen we je om alle oefeningen van het eerste hoofdstuk op het Amerikaanse trainingsplatform <%= ext_link_to "USACO", "https://train.usaco.org/usacogate" %> op te lossen.</p>
<p>Als je deze hebt opgelost, stuur dan een mail met een .zip-bestand met al je codes naar <%= mail_to "becp@be-oi.be" %>.</p>
<p>Als je in het vijfde of zesde jaar middelbaar zit, contacteer ons als je denkt dat je gevorderd genoeg bent om deel uit te maken van de groep. Trainen om deel te nemen aan internationale olympiades is echter een werk van lange adem. Het is dus aan jou om ons te overtuigen dat je klaar bent om deel uit te kunnen maken van de delegatie voor de Internationale Informatica-olympiade voor het einde van je middelbare schoolcarrière, bijvoorbeeld door ons goede resultaten te tonen in online programmeerwedstrijden.</p>
