<h3 class="mb8">Vorming</h3>
<p class="lead mb40">
  We organiseren tussen de eerste ronde en de finale een introductiecursus programmeren voor de finalisten. Finalisten krijgen de praktische informatie via email doorgestuurd.
</p>
