<h3>19 mars: Finale</h3>
<h4>Lieu et date</h4>
<p>
  Le finale a lieu le <strong>samedi 19 mars 2016</strong> à l'ECAM (Haute École de Vinci) à <strong>Bruxelles</strong>. Les finalistes sont attendus de 9h30 à 10h15, l'épreuve commencera à 10h30 et durera 2h.
</p>
<p>
  L'épreuve aura lieu durant la <%= ext_link_to "Computer Science Day", "http://www.csited.be/activities/csday2016" %> (événement indépendant de la beOI) organisée le même jour à l'ECAM.
</p>
<h4>Types de questions</h4>
<p>
  L'épreuve est uniquement sur papier. En plus des questions du même type qu'à l'éliminatoire, la finale comportera des questions de programmation, via des codes à comprendre et à compléter. Quelques exemples de ce dernier type de question est disponible <%= link_to "ci-dessous", "#sample-questions-final" %>.
</p>
