<h3>Finale 2017</h3>

<h4>Plaats en datum</h4>

<p>
  De finale vindt plaats op <strong>zaterdag 11 maart 2017</strong> in Brussel. Meer informatie over de exacte locatie en tijdstip van de proef volgt nog.
</p>

<h4>Types van vragen</h4>
<p>De finale is een proef op papier, zoals de voorgaande jaren. Je vindt hieronder <%= link_to "enkele voorbeeldvragen", '#sample-questions-final' %> en de <%= link_to "vragen van de finale 2016", "#questions-2016" %>.</p>
