<h3>Finale 2018</h3>

<h4>Lieu et date</h4>
<p>
  La finale a lieu le <strong>samedi 17 mars 2018</strong> à Bruxelles. Plus de détails suivront.
  <!--, plus précisément
  à l'<strong><%= ext_link_to "auditoire K", 'https://www.openstreetmap.org/way/51774809' %> du campus du Solbosch de l'ULB</strong>.
  Les finalistes sont attendus sur place à 10h. L'épreuve <strong>commencera à 10h15 et dure 2 heures</strong>.-->
</p>

<!--<h4>Aspects pratiques</h4>
<p>
  Vous ne devez prendre que de quoi écrire. Les résultats seront connus dans les semaines suivantes.
</p>-->

<h4>Types de questions</h4>
<p>La finale se déroulera sur papier comme pour les éditions précédentes. Vous retrouverez ci-dessous <%= link_to "quelques exemples de questions", '#sample-questions-final' %>
 et les <%= link_to "questions des finales précédentes", "#questions-2016" %>.</p>
