<h3 class="mb16">Éliminatoires</h3>
<h4 class="mb8">Lieu et date</h4>
<p>
  L'éliminatoire a lieu le <strong>mercredi 1<sup>er</sup> février 2017</strong> dans votre école (démarrage entre 8h30 et 15h30) ou dans l'un des <%= link_to "11 centres régionaux", "#qualif-centers" %> à 14h. L'épreuve durera 1h15.
</p>
<h4 class="mb8">Types de questions</h4>
<p>
	Visitez la <%= link_to "plate-forme du concours", current_page.data.contest_platform["fr"] %> afin de tester les nouvelles tâches interactives de beOI.

</p>
<h4 class="mb8">Comment participer ?</h4>
<p>
	<strong>Vous êtes une école?</strong> Inscrivez-vous en tant que coordinateur sur <%= link_to "notre plate-forme", current_page.data.management_platform["fr"] %> dédiée.
	<strong>Votre école ne souhaite pas participer?</strong> Inscrivez-vous dans l'un des centres régionaux via <%= link_to "ce formulaire", "registration" %>.

</p>
