<h3 class="mb16">1 februari: Eerste ronde</h3>
<h4 class="mb8">Plaats en datum</h4>
<p>
  De eerste ronde vindt plaats op <strong>woensdag 1 februari 2017</strong> in jouw school of in één van de 11 regionale centra. <!-- De proef duurt 1u30'. -->
</p>
<h4 class="mb8">Types van vragen</h4>
<p>
  Meer informatie volgt binnenkort.
</p>
<h4 class="mb8">Hoe deelnemen?</h4>
<p>
  De inschrijvingen zullen pas in november of december openen. Meer info over het verloop van de wedstrijd in 2017 vind je alvast terug in de <%= link_to t(:FAQ), 'faq' %>.
</p>