<h3>Finale 2017</h3>

<h4>Plaats en datum</h4>

<p>
  De finale vindt plaats op <strong>zaterdag 11 maart 2017</strong> in Brussel. Meer informatie over de exacte locatie en tijdstip van de proef volgt nog.
</p>

<h4>Types van vragen</h4>
<p>De finale is een proef op papier, zoals de voorgaande jaren. Je vindt <%= link_to "hieronder", '#sample-questions-final' %> enkele voorbeeldvragen.</p>
