<h3 class="mb8">Formation</h3>
<p class="lead mb40">
  Nous organiserons, entre les deux épreuves, une formation d'introduction à la programmation pour les finalistes. Plus d'information suivra. 
</p>
