<h3 class="mb16">27 janvier: Éliminatoires</h3>
<h4 class="mb8">Lieu et date</h4>
<p>
  L'éliminatoire a lieu le <strong>mercredi 27 janvier 2016</strong> à 14h dans l'un des <%= link_to "11 centres régionaux", "#qualif-centers" %> à travers la Belgique ou <strong>dans votre école</strong>. L'épreuve durera 1h30.
</p>
<h4 class="mb8">Types de questions</h4>
<p>
  L'épreuve est uniquement sur papier. Aucune question ne comporte de programmation, uniquement des exercices de raisonnement informatique ne nécessitant aucune connaissance préalable. Des exemples de questions sont disponibles <%= link_to "ci-dessous", "#sample-questions" %>.
</p>
<%= link_to t(:index_qualif_result_link), 'qualif_results', class:'btn btn-lg btn-filled' %>
