<section class="bg-dark pb8 pt32">
  <div class="container">
    <div class="row  mb-xs-32">
    
      <div class="col-md-12 col-sm-12 text-center">
        <h3 class="large mb0"><%= t("wait_for_qualif_results_title") %></h3>
        <h4><%= t("wait_for_qualif_results_descr") %></h4>
      </div>

    </div>
  </div>
</section>
