<h3>Finale 2019</h3>

<h4>Plaats en datum</h4>
<p>
  De finale vindt plaats op <strong>zaterdag 30 maart 2019</strong> in Brussel, Franklin Rooseveltlaan 50.<br>
  <strong>Solbosch campus van de ULB, gebouw U, ingang B, tweede verdieping, <%= ext_link_to "auditoria 252A", 'https://www.ulb.ac.be/campus/solbosch/plan-U.html' %></strong>.<br>
  Finalisten worden ter plaatse verwacht tegen 9u15.<br>
  De proef <strong>begint om 9u30 en duurt 2 uur</strong>.
</p>

<h4>Praktisch</h4>
<p>
  Je moet enkel iets om te schrijven meenemen.
  De resultaten worden enkele weken nadien bekendgemaakt.
</p>

<h4>Types van vragen</h4>
<p>De finale is een proef op papier, zoals de voorgaande jaren. Je vindt hieronder <%= link_to "enkele voorbeeldvragen", '#sample-questions-final' %>
en de <%= link_to "vragen van de vorige finales", "#questions-2016" %>.</p>
