<section class="bg-dark pb8 pt32">
  <div class="container">
    <div class="row  mb-xs-32">
    
      <div class="col-md-12 col-sm-12 text-center">
        <h3 class="large"><%= t("index_qualif_result_link") %> 2017</h3>
        <%= link_to t(:index_qualif_result_title), 'qualif_results', class:'btn btn-lg btn-filled' %>
        <%= link_to t(:index_final_result_title), 'final_results', class:'btn btn-lg btn-filled' %>
      </div>

    </div>
  </div>
</section>
