<h3>27 januari: Eerste ronde</h3>
<h4>Plaats en datum</h4>
<p>
  De eerste ronde vindt plaats op <strong>woensdag 27 januari 2016</strong> om 14u in een van de <%= link_to "11 regionale centra", "#qualif-centers" %> in het land, <strong>of in je school</strong>. De proef duurt 1u30'.
</p>
<h4>Types van vragen</h4>
<p>
  De proef is volledig op papier. Geen enkele vraag bevat iets over programmeren of code. Er worden enkel puzzelvragen gesteld die informatica-gericht denken testen, zodat geen enkele voorkennis nodig is. Je kan enkele voorbeeldvragen bekijken <%= link_to "hieronder", "#sample-questions" %>.
</p>
