<h3>Finale 2018</h3>

<h4>Plaats en datum</h4>
<p>
  De finale vindt plaats op <strong>zaterdag 17 maart 2018</strong> in Brussel. Meer details volgen nog.
  <!-- in <%= ext_link_to "auditorium K", 'https://www.openstreetmap.org/way/51774809' %>, ULB campus Solbosch, Brussel</strong>.
  Finalisten worden ter plaatse verwacht tegen 10u00. De proef <strong>begint om 10u15 en duurt 2u</strong>. -->
</p>

<!--<h4>Praktisch</h4>
<p>
  Je moet enkel iets om te schrijven meenemen. Er zijn geen andere activiteiten gepland, finalisten mogen na afloop van de proef naar huis. 
  De resultaten worden enkele weken nadien bekendgemaakt.
</p>-->

<h4>Types van vragen</h4>
<p>De finale is een proef op papier, zoals de voorgaande jaren. Je vindt hieronder <%= link_to "enkele voorbeeldvragen", '#sample-questions-final' %> 
en de <%= link_to "vragen van de vorige finales", "#questions-2016" %>.</p>
