<h3>Par où commencer la programmation&nbsp;?</h3>

<p>De très nombreux sites proposent maintenant des tutoriaux destinés aux élèves de secondaire ou primaire pour apprendre la programmation. Bien que la plupart d'entre eux soient en anglais, il est possible de trouver de très bons sites en français également. Notons que pour beCP, l'objectif est d'apprendre principalement l'<strong>algorthmique</strong>, la programmation n'étant qu'un terme générique. Par exemple, il n'est pas utile pour le concours beCP d'avoir la moindre connaissance en dévelopement web.</p>

<p>Pour le beCP, nous recommandons le langage <strong>C++</strong>, mais le <strong>Java</strong> est également accepté.</p>

Quelques resources intéressantes en français pour commencer&nbsp;:
<ul data-bullet="ti-angle-right">
  <li><%= ext_link_to "Cercles informatiques", "http://cscircles.cemc.uwaterloo.ca/fr/" %> (Université de Waterloo, Canada)</li>
  <li><%= ext_link_to "France-IOI", "http://www.france-ioi.org/" %>: plateforme d'entraînement de la délégation française</li>
  <li><%= ext_link_to "Khan Academy", "https://fr.khanacademy.org/computing/computer-programming/programming" %> (partiellement traduit pour l'instant)</li>
</ul>
