<h3>19 maart: Finale</h3>
<h4>Plaats en datum</h4>
<p>
  De finale vindt plaats op <strong>zaterdag 19 maart 2016</strong> in <strong>Haute École de Vinci - ECAM te Brussel</strong> <%= ext_link_to "(locatie)", "https://goo.gl/maps/3brMFgXttJs" %>. 
  Finalisten worden verwacht tussen 9u30 en 10u15. De proef <strong>begint om 10u30 en duurt 2u</strong>.
</p>
<p>
  Deze finale gebeurt samen met de <em>Computer Science Day</em> van <%= ext_link_to "CSited vzw", "http://www.csited.be/home" %>. 
  Daar mag iedereen na de beOI'16 finale ook aan deelnemen, maar je moet je er apart voor registreren op de <%= ext_link_to "CSDay website", "http://www.csited.be/activities/csday2016" %>. 
</p>
<p> 
  De <em>CSited CSDay</em> op ECAM is een onafhankelijk evenement, voor het overige niet gelinkt aan beOI. 
  Haar activiteiten die dag staan ook open voor volwassenen en zullen voornamelijk Franstalig zijn.
</p>
<!--
<h4>Praktisch</h4>
<p>
  Je moet enkel iets om te schrijven meenemen. 
  Vermeld bij aankomst duidelijk dat je komt voor de Belgische Informatica-olympiade. (Er is immers ook een andere wedstrijd door op dat moment, <em>Bebras</em>).
  Wij voorzien enkel een kleine snack en geen lunch.
</p>
-->
<h4>Types van vragen</h4>
<p>
  De proef is volledig op papier. 
  Je krijgt hetzelfde type vragen als in de eerste ronde, met daarnaast ook vragen waarbij code moet begrepen of vervolledigd worden. 
  Er staan enkele nieuwe voorbeeldvragen <%= link_to "hieronder", "#sample-questions-final" %>.
</p>
<!--
<p>
  De resultaten zouden een week later bekend moeten zijn. 
  De prijsuitreiking is momenteel gepland op <strong>zaterdag 07 mei 2016</strong>, ook in Brussel.
</p>
-->