<h3>Meedoen bij beCP?</h3>
<p>Om mee te doen bij beCP moet je tonen dat je kan programmeren, en dat je gemotiveerd bent om verder bij te leren. Daarom vragen we je om alle oefeningen van het eerste hoofdstuk te maken op het Amerikaanse trainingsplatform <%= ext_link_to "USACO", "https://train.usaco.org/usacogate" %>.</p>
<p>Wanneer je alles hebt kunnen oplossen, stuur dan een mail met een .zip bestand met al je codes naar <%= mail_to "becp@be-oi.be" %>.</p>
