<h3>Finale 2019</h3>

<h4>Plaats en datum</h4>
<p>
  De finale vindt plaats op <strong>zaterdag 7 maart 2020</strong> in Brussel.<br>
  De proef duurt 2 uur.
</p>

<h4>Praktisch</h4>
<p>
  Je moet enkel iets om te schrijven meenemen.
  De resultaten worden enkele weken nadien bekendgemaakt.
</p>

<h4>Types van vragen</h4>
<p>De finale is een proef op papier, zoals de voorgaande jaren. Je vindt hieronder <%= link_to "enkele voorbeeldvragen", '#sample-questions-final' %>
en de <%= link_to "vragen van de vorige finales", "#questions-solutions" %>.</p>


<% if has_current_year_solutions %><%= link_to "#{t("task_description")}/#{t("solutions")}", '#questions-solutions', class:'btn btn-lg btn-filled' %><% end %>
<% if config.show_final_results %><%= link_to t("Results"), 'final_results', class:'btn btn-lg btn-filled' %><% end %>
