<h3>Entrer dans la beCP&nbsp;?</h3>
<p>Pour entrer dans la beCP, vous devez nous montrer que vous savez programmer et que vous êtes motivé à vous entraîner. Nous vous demandons donc de résoudre tous les exercices du 1er chapitre sur la plateforme d'entraînement américaine <%= ext_link_to "USACO", "https://train.usaco.org/usacogate" %>.</p>
<p>Lorsque vous les aurez tous résolus, envoyez-nous un e-mail à <%= mail_to "becp@be-oi.be" %> avec une archive .zip contenant tous vos codes&nbsp;!</p>
