<h3 class="mb16">Eerste ronde 2017</h3>
<h4 class="mb8">Plaats en datum</h4>
<p>
  De eerste ronde vindt plaats op <strong>woensdag 1 februari 2017</strong> in jouw school (start tussen 8u30 en 15u30) of in één van de <%= link_to "11 regionale centra", "#qualif-centers" %> (start om 14u00). De proef duurt 1u15'.
</p>
<h4 class="mb8">Types van vragen</h4>
<p>
  Bezoek het <%= link_to "wedstrijdplatform", current_page.data.contest_platform["nl"], onclick:"fbq('track', 'GoToContestPlatform', {});" %> om de nieuwe interactieve vragen uit te testen.

</p>
<h4 class="mb8">Hoe deelnemen?</h4>
<p>
  <strong>U vertegenwoordigt een school?</strong> Schrijf u in als coördinator op ons <%= link_to "wedstrijdplatform (administratie)", current_page.data.management_platform["nl"], onclick:"fbq('track', 'GoToMgmtPlatform', {});"  %> .
	<strong>Jouw school wenst niet deel te nemen?</strong> Registreer je individueel bij een van onze regionale centra via <%= link_to "dit formulier", "registration" %>.
</p>
