<h3>19 mars: Finale</h3>
<h4>Lieu et date</h4>
<p>
  L'éliminatoire devrait avoir lieu le <strong>samedi 19 mars 2016</strong> à <strong>Bruxelles</strong>. L'épreuve devrait durer 2x 1h30.
</p>
<h4>Types de questions</h4>
<p>
  L'épreuve est uniquement sur papier. En plus des questions du même type qu'à l'éliminatoire, le finale comportera des questions de programmations, via des codes à comprendre et à compléter.
</p>
