
<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase mb16 text-center">Samenvatting</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb16 text-center">Aantal deelnemers</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">De editie 2017 telde 1172 officiële deelnemers uit 133 verschillende scholen, waarvan er 74 de eerste ronde in eigen huis organiseerden.</p>
      </div>
      <div id="chart-cat" class="col-md-4" style="height: 200px;"></div>
      <div id="chart-lang" class="col-md-4" style="height: 200px;"></div>
      <div id="chart-gender" class="col-md-4" style="height: 200px;"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb16 text-center">Resultaten</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          De grafieken hieronder geven de resultaten van de deelnemers weer. Om je positie in te schatten in het klassement vind je je score terug, en hoe verder links die zich bevindt, hoe hoger jouw positie. De groene zone komt overeen met de geselecteerden voor de finale.
        </p>
        <p class="text-center">De minimumscore om gekwalificeerd te zijn voor de finale is <strong>26 punten voor de categorie Beloften</strong> (40 finalisten), <strong>32 punten voor de categorie Junior</strong> (54 finalisten) en <strong>34 punten voor de categorie Senior</strong> (59 finalisten). De maximumscore was 40 punten.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5 class="uppercase mb16 text-center mt16" style=" margin-bottom: -10px;">Categorie Beloften</h5>
        <div id="chart-scores-cad" class="col-md-12" ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5 class="uppercase mb16 text-center mt16" style="margin-bottom: -10px;">Categorie Junior</h5>
        <div id="chart-scores-jun" class="col-md-12" ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5 class="uppercase mb16 text-center mt16" style="margin-bottom: -10px;">Categorie Senior</h5>
        <div id="chart-scores-sen" class="col-md-12" ></div>
      </div>
    </div>

  </div>
  <!--end of container-->
</section>
