
<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase mb16 text-center">En résumé</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb16 text-center">Nombre de participants</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">L'édition 2017 a compté 1172 participants officiels venant de 133 écoles différentes dont 74 organisaient le concours au sein de leur établissements.</p>
      </div>
      <div id="chart-cat" class="col-md-4" style="height: 200px;"></div>
      <div id="chart-lang" class="col-md-4" style="height: 200px;"></div>
      <div id="chart-gender" class="col-md-4" style="height: 200px;"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb16 text-center">Résultats</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          Les graphiques ci-dessous représentent les scores de chaque participants. Pour estimer votre position dans le classement, trouvez votre score, plus il est a gauche plus vous êtes dans les premières positions. La zone verte correspond aux candidats sélectionnés pour la finale.
        </p>
        <p class="text-center">Le score minimal pour être qualifié pour la finale est de <strong>26 points pour la catégorie cadet</strong> (40 candidats), <strong>32 points pour la catégorie junior</strong> (54 candidats) et <strong>34 points pour la catégorie senior</strong> (59 candidats). Le score maximum possible était de 40 points.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5 class="uppercase mb16 text-center mt16" style=" margin-bottom: -10px;">Catégorie Cadet</h5>
        <div id="chart-scores-cad" class="col-md-12" ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5 class="uppercase mb16 text-center mt16" style="margin-bottom: -10px;">Catégorie Junior</h5>
        <div id="chart-scores-jun" class="col-md-12" ></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5 class="uppercase mb16 text-center mt16" style="margin-bottom: -10px;">Catégorie Senior</h5>
        <div id="chart-scores-sen" class="col-md-12" ></div>
      </div>
    </div>

  </div>
  <!--end of container-->
</section>