<p class="lead">
  En s'inscrivant au concours beOI, le participant accepte le présent règlement. Ce concours est organisée par l'<strong>ASBL beOI</strong>. L'association est chargée de gérer tous les aspects liés au concours.
</p>
