<p class="lead">
  La participation au concours est entièrement <strong>gratuite</strong>. Pour les formations (facultatives) proposées, une participation aux frais pourra être demandée pour couvrir une partie des frais de logements et des repas.
</p>
<p class="lead">
  Les finalistes seront les participants des éliminatoires ayant marqués les plus grand score dans chacune des catégories. Pour chaque catégorie, 50 participants seront sélectionnés, avec un maximum de 15% du nombre de participants de la catégorie.
</p>
