<p class="lead">
  Le concours est réservé aux élèves inscrits dans l'<strong>enseignement secondaire ou primaire</strong> au mois de septembre précédant l'épreuve. Les participants doivent, par ailleurs, avoir la <strong>nationalité belge ou être inscrits dans un établissement scolaire établi en Belgique</strong>. Les candidats doivent également avoir <strong>moins de 20 ans</strong> révolus au 30 juin de l'année au cours de laquelle a lieu l'épreuve (pour la beOI'xx, le participant doit donc être né le 1er juillet 20xx-20 ou ultérieusement). Des preuves de l'âge du participant ainsi que de son inscription dans l'établissement scolaire pourront être demandées aux participants par les organisateurs du concours.
</p>
<p class="lead">
  Le concours est composé de trois catégories d'âge. Chaque participants est tenu de s'inscire dans la catégorie correspondant à l'année d'étude dans laquelle il ne situe. La catégorie <strong>cadet</strong> est réservée aux élèves du primaire et de 1<sup>re</sup> et 2<sup>e</sup> secondaire. La catégorie <strong>junior</strong> est réservée aux élèves de 3<sup>e</sup> et 4<sup>e</sup> secondaire. La catégorie <strong>senior</strong> est réservée aux élèves de 5<sup>e</sup>, 6<sup>e</sup> et 7<sup>e</sup> secondaire.
</p>
