<p class="lead">
  De wedstrijd is voorbehouden aan leerlingen die ingeschreven zijn in het <strong>secundair of lager onderwijs</strong> in de maand september voorafgaand aan de proef. Deelnemers moeten ofwel de <strong>Belgische nationaliteit</strong> bezitten, ofwel <strong>ingeschreven zijn in een Belgische school</strong>. Deelnemers moeten ook <strong>minder dan 20 jaar zijn</strong> op 30 juni van het jaar waarin de proef plaatsvindt. (Dus voor beOI'xx, moet een deelnemer geboren zijn op 1 juli van het jaar 20xx-20 of later). De organisatoren van de wedstrijd hebben het recht om een bewijs van leeftijd of een bewijs van inschrijving in de school te vragen aan de deelnemers.
</p>
<p class="lead">
  Men neemt deel aan de wedstrijd in één van drie leeftijdscategorieën. Elke deelnemer moet zich inschrijven in de categorie die overeenkomt met zijn of haar studiejaar. De categorie <strong>belofte</strong> is voorbehouden voor leerlingen in het 1<sup>e</sup> en 2<sup>e</sup> middelbaar en de lagere school. De categorie <strong>junior</strong> is voorbehouden voor leerlingen in het 3<sup>e</sup> en 4<sup>e</sup> middelbaar. De categorie <strong>senior</strong> is voorbehouden voor leerlingen in het 5<sup>e</sup>, 6<sup>e</sup> en 7<sup>e</sup> middelbaar.
</p>
