<p class="lead">
  Door zich in te schrijven voor de beOI wedstrijd, accepteert de deelnemer dit reglement. De wedstrijd wordt georganiseerd door <strong>beOI VZW</strong>. Deze vereniging beheert alle aspecten van de wedstrijd.
</p>
