<p class="lead">
  Deelname aan de wedstrijd is volledig  <strong>gratis</strong>. Voor de optionele opleidingen die worden aangeboden, kan een kleine deelname in de onkosten worden gevraagd, om een deel van de kosten voor verblijf en maaltijden te dekken. 
</p>
<p class="lead">
  De finalisten zijn die deelnemers aan de eerste ronde die de hoogste scores hebben behaald in hun categorie. In elke categorie mogen 15 deelnemers naar de finale, met een maximum van 33% van het totale aantal deelnemers in die categorie.
</p>
