---
title: Questions
---
<section class="page-title page-title-4 image-bg">
  <div class="background-image-holder" id="page-header-image-holder" > </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0">Déroulement du concours</h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
    var pattern = Trianglify({
        width: window.innerWidth,
        height: window.innerHeight*1.5,
        x_colors: ["#993404","#d95f0e","#fe9929","#fec44f","#fee391","#ffffd4"]
    });
    document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>
<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <p class="lead">
          L'Olympiade belge d'Informatique est un concours mêlant logique, algorithmique et un peu de programmation ouvert aux élèves de secondaire et primaire (à travers trois catégories). L'épreuve comporte deux étapes: l'éliminatoire et la finale, entre lesquels sera organisé une ou plusieurs formations.
        </p>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
<a id="spacing"></a>
<section class="image-square left">
  <div class="col-md-6 image">
    <div class="background-image-holder">
    <img alt="image" class="background-image" src="/img/pic1.jpg" />
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content">
    <h3>Éliminatoire</h3>
    <h4>Lieu et date</h4>
    <p>
      L'éliminatoire a lieu le <strong>mercredi 27 janvier 2016</strong> dans l'un des <strong>11 centre régionaux</strong> à travers la Belgique ou <strong>dans votre école</strong>. L'épreuve durera 1h30.
    </p>
    <h4>Types de questions</h4>
    <p>
      L'épreuve est uniquement sur papier. Aucune question ne comporte de programmation, uniquement des exercices de raisonnement informatique ne nécessitant aucune connaissance préalable. 
    </p>
  </div>
</section>
<section class="pt64 pb64 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb8">Formation</h3>
        <p class="lead mb40">
          Nous organiserons, entre les deux épreuves, une formation d'introduction à la programmation pour les finalistes. Plus d'information suivra. 
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="image-square right">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="/img/pic2.jpg" />
    </div>
  </div>
  <div class="col-md-6 content">
    <h3>Finale</h3>
    <h4>Lieu et date</h4>
    <p>
      L'éliminatoire devrait avoir lieu le <strong>samedi 19 mars 2016</strong> à <strong>Bruxelles</strong>. L'épreuve devrait durer 2x 1h30.
    </p>
    <h4>Types de questions</h4>
    <p>
      L'épreuve est uniquement sur papier. En plus des questions du même type qu'à l'éliminatoire, le finale comportera des questions de programmations, via des codes à comprendre et à compléter.
    </p>
  </div>
</section>
<a id="spacing"></a>
<section class="altern">
  <div class="container">
    <div class="row mb64">
      

    </div><!--end of row-->
  </div><!--end of container-->
</section>
