<section class="image-bg parallax pt120 pb80 pt-xs-40 pb-xs-40" style="background-color:#fdae61;">
  <div class="background-image-holder" id="page-header-image-holder">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <!-- <h1 style="font-family: 'Comfortaa'; font-size:90px; color:#101010; opacity:0.5;">beOI</h1> -->
        <h1 style="color:#101010; opacity:0.7;">Olympiade belge d'Informatique</h1>
        <h4 class=" mb48 mb-xs-32" style="color:#101010; opacity:0.7;">
          Concours de raisonnement informatique et d'initiation à la programmation pour élèves du secondaire.
        </h4>
        <!-- <a class="btn btn-lg btn-filled" href="#">View Case Study</a> -->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
    var pattern = Trianglify({
        width: window.innerWidth,
        height: window.innerHeight*1.5,
        x_colors: ["#e31d3b","#d53e4f","#f46d43","#fdae61","#fee08b","#ffffbf","#e6f598","#abdda4","#66c2a5","#3288bd","#5e4fa2"]
    });
    document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb16">Un nouveau concours... accessible à tous</h4>
        <p class="lead mb64">
          Le concours beOI a été rendu plus accessible qu'auparavant afin que tout élève du secondaire puisse y participer sans connaissance préalable.
        </p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-write icon-sm"></i>
            <h5 class="uppercase">Aucune base nécessaire</h5>
          </div>
          <p>
            L'épreuve éliminatoire ne comporte pas de programmation, uniquement des exercices de raisonnement informatique ne nécessitant aucune connaissance préalable. La finale comporte, elle, de la programmation, via des codes à comprendre et à compléter sur papier. 
          </p>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-bar-chart icon-sm"></i>
            <h5 class="uppercase">Trois catégories d'âge</h5>
          </div>
          <p class="mb8">Le concours comporte maintenant trois catégories selon l'année de l'élève, chacune comportant son propre classement:</p> 
          <dl class="dl-horizontal category-list">
            <dt>Cadet</dt><dd>2<sup>e</sup> secondaire et inférieur</dd>
            <dt>Junior</dt><dd>3<sup>e</sup> et 4<sup>e</sup> secondaire</dd>
            <dt>Senior</dt><dd>5<sup>e</sup>, 6<sup>e</sup> (et 7<sup>e</sup>) secondaire</dd>
          </dl>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-direction-alt icon-sm"></i>
            <h5 class="uppercase">Guidage</h5>
          </div>
          <p>
            Les candidats passant les éliminatoires se verront proposer une formation et une série d'outils leur permettant d'apprendre les bases de la programmation. Les meilleurs pourront également  intégrer la formation de l'équipe nationale (beCP).
          </p>
        </div>
        <!--end of feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<a name="contest"></a>
<section class="image-square left bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
    <img alt="image" class="background-image" src="/img/pic1.jpg" />
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content">
    <h3>27 janvier: Éliminatoires</h3>
    <h4>Lieu et date</h4>
    <p>
      L'éliminatoire a lieu le <strong>mercredi 27 janvier 2016</strong> dans l'un des <strong>11 centre régionaux</strong> à travers la Belgique ou <strong>dans votre école</strong>. L'épreuve durera 1h30.
    </p>
    <h4>Types de questions</h4>
    <p>
      L'épreuve est uniquement sur papier. Aucune question ne comporte de programmation, uniquement des exercices de raisonnement informatique ne nécessitant aucune connaissance préalable. 
    </p>
  </div>
</section>
<section class="pt64 pb64">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb8">Formation</h3>
        <p class="lead mb40">
          Nous organiserons, entre les deux épreuves, une formation d'introduction à la programmation pour les finalistes. Plus d'information suivra. 
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="image-square right bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="/img/pic2.jpg" />
    </div>
  </div>
  <div class="col-md-6 content">
    <h3>19 mars: Finale</h3>
    <h4>Lieu et date</h4>
    <p>
      L'éliminatoire devrait avoir lieu le <strong>samedi 19 mars 2016</strong> à <strong>Bruxelles</strong>. L'épreuve devrait durer 2x 1h30.
    </p>
    <h4>Types de questions</h4>
    <p>
      L'épreuve est uniquement sur papier. En plus des questions du même type qu'à l'éliminatoire, le finale comportera des questions de programmations, via des codes à comprendre et à compléter.
    </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb64 mb-xs-40">Nos membres</h4>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="logo-carousel">
        <ul class="slides">
          <% data.members.each do |m| %>
          <li>
            <a href="<%= m.href %>">
              <img alt="<%= m.name %>" src="/img/members-logo/<%= m.image %>" />
            </a>
          </li>
          <% end %>
        </ul>
      </div>
      <!--end of logo slider-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>  
<a name="sample-questions"></a>
<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb80">Exemples de question pour l'éliminatoire</h4>
        <div class="tabbed-content button-tabs vertical">
          <ul class="tabs">
            <li class="active">
              <div class="tab-title">
                <span>Le réseau social</span>
              </div>
              <div class="tab-content">
                <!-- <h5 class="uppercase">Let's Talk Tabs</h5>
                <hr> -->
                <p>
                  Emma est inscrite sur un réseau social où elle peut être amie avec d'autres personnes inscrites sur le réseau. Le diagramme ci-dessous montre les amis d'Emma ainsi que les amis des amis d'Emma.
                </p>
                <div class="pull-right" style="width:50%"><img src="/img/tasks/be-oi-facebook.png"></div>
                <p>
                  Un trait entre deux personnes signifie qu'elles sont amies sur le réseau social. Par exemple, Sophie est amie avec Lisa et Lisa est amie avec Lucas, mais Sophie n'est pas amie avec Lucas.
                </p>
                <p>
                  Chaque personne peut partager ses photos uniquement avec ses amis. Lorsqu'une personne donne accès à une photo à un ami, celui-ci peut laisser un commentaire sur la photo. Lorsque une personne commente une photo, ses amis peuvent voir la photo et le commentaire associé, mais ne peuvent pas la commenter à leur tour, sauf s'ils étaient autorisés à la commenter au départ.
                </p>
                <p>
                  Emma a posté une photo de son animal de compagnie, un chihuahua prénommé Paris, mais elle ne veut pas que Damien puisse la voir. Elle est sûre que Damien ne deviendra pas ami avec d'autres de ses amis (c'est-à-dire que le diagramme ci-dessus ne changera pas).
                </p>
                <p>
                  <strong>Parmi les personnes suivantes, à qui Emma a-t-elle le droit de donner l'accès à la photo, tout en garantissant que Damien ne pourra jamais la voir ?</strong> Charlotte, Lucas, Damien, Lucie, Daan, Peter.
                </p>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <span>Sous le pôle sud</span>
              </div>
              <div class="tab-content">
                <!-- <h5 class="uppercase">Sous le pôle sud</h5>
                <hr> -->
                <p>
                  À la fin de l'année 2012, des chercheurs australiens découvrent des signes de vie extraterrestre sur terre, comme prévu par les Mayas. Pour être précis, ces chercheurs ont retrouvé plusieurs cartes décrivant des chambres et des tunnels souterrains très anciens, sous le pôle sud. La première carte a été découverte le soir de Noël, dans le Queen Mary Land.
                </p>
                <img class="pull-right" src="/img/tasks/robots.png">
                <!-- <div class="pull-right" style="width:50%"><img src="/img/tasks/robots.png"></div> -->
                <p>
                  Par ailleurs, le hasard est venu en aide aux scientifiques: ils sont parvenus, à l'aide d'un sonar, à localiser une des chambres souterraines, et même à percer un tunnel qui y mène. Maintenant, ils souhaiteraient envoyer un petit robot dans cette chambre.
                </p>
                <p>
                  Étant donné que les tunnels sont vraiment creusés très profonds, le robot doit recevoir toutes ses instructions avant d'y être envoyé. Une fois dans la chambre, il ne peut plus être contacté, si ce n'est qu'à la fin de sa mission il aura la possibilité d'envoyer, aux scientifiques restés à la surface, une courte vidéo.
                </p>
                <p>
                  Le robot ne comprend que quatre instructions simples: <strong>nord</strong>, <strong>est</strong>, <strong>sud</strong> et <strong>ouest</strong>. Quand il reçoit, par exemple, l'instruction <strong>nord</strong>, il emprunte la sortie la plus au nord de la chambre dans laquelle il se trouve, suit le tunnel, et continue à rouler jusqu'à atteindre la chambre suivante. Ensuite, il exécute l'instruction suivante (les trois autres instructions fonctionnent de façon similaire, mais avec les autres directions).
                </p>
                <p>
                  Les scientifiques sont particulièrement intéressés par la chambre qui est marquée d'un rond noir sur la carte. Malheureusement, ils ne savent pas dans quelle chambre le robot sera déposé. Quelles instructions doit-on donner au robot pour s'assurer qu'il atteint la bonne chambre ?
                </p>
                <p>
                  <strong>Donnez les instructions qu'il faut donner au robot pour la carte ci-contre. Après la dernière instruction, le robot doit être arrivé dans la chambre qui est marquée d'un point noir, peu importe la chambre dans laquelle il a commencé.</strong>
                </p>
              </div>
            </li>
        </div>
        <!--end of button tabs-->
      </div>
      <h4 class="text-center">Plus de questions et solutions d'ici peu ...</h4>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="bg-dark pb0">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
      
        <h1 class="large">Des questions ?</h1>
<!-- 
        <p class="lead mb48 mb-xs-32 fade-1-4"> 
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque. 
        </p>
         -->
        <a class="btn btn-lg btn-filled" href="mailto:info@be-oi.be">Contactez-nous !</a>
        
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

