---
title: Questions
---
<section class="page-title page-title-4 image-bg">
  <div class="background-image-holder" id="page-header-image-holder" > </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0">Exemple de Questions</h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
  var pattern = Trianglify({
    width: window.innerWidth,
    height: window.innerHeight*1.5,
    x_colors: "RdBu"
  });
  document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>
<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb80">Exemples de question pour l'éliminatoire</h4>
        <div class="tabbed-content button-tabs vertical">
          <ul class="tabs">
            <li class="active">
              <div class="tab-title">
                <span>Le réseau social</span>
              </div>
              <div class="tab-content">
                <!-- <h5 class="uppercase">Let's Talk Tabs</h5>
                <hr> -->
                <p>
                  Emma est inscrite sur un réseau social où elle peut être amie avec d'autres personnes inscrites sur le réseau. Le diagramme ci-dessous montre les amis d'Emma ainsi que les amis des amis d'Emma.
                </p>
                <div class="pull-right" style="width:50%"><img src="/img/tasks/be-oi-facebook.png"></div>
                <p>
                  Un trait entre deux personnes signifie qu'elles sont amies sur le réseau social. Par exemple, Sophie est amie avec Lisa et Lisa est amie avec Lucas, mais Sophie n'est pas amie avec Lucas.
                </p>
                <p>
                  Chaque personne peut partager ses photos uniquement avec ses amis. Lorsqu'une personne donne accès à une photo à un ami, celui-ci peut laisser un commentaire sur la photo. Lorsque une personne commente une photo, ses amis peuvent voir la photo et le commentaire associé, mais ne peuvent pas la commenter à leur tour, sauf s'ils étaient autorisés à la commenter au départ.
                </p>
                <p>
                  Emma a posté une photo de son animal de compagnie, un chihuahua prénommé Paris, mais elle ne veut pas que Damien puisse la voir. Elle est sûre que Damien ne deviendra pas ami avec d'autres de ses amis (c'est-à-dire que le diagramme ci-dessus ne changera pas).
                </p>
                <p>
                  <strong>Parmi les personnes suivantes, à qui Emma a-t-elle le droit de donner l'accès à la photo, tout en garantissant que Damien ne pourra jamais la voir ?</strong> Charlotte, Lucas, Damien, Lucie, Daan, Peter.
                </p>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <span>Sous le pôle sud</span>
              </div>
              <div class="tab-content">
                <!-- <h5 class="uppercase">Sous le pôle sud</h5>
                <hr> -->
                <p>
                  À la fin de l'année 2012, des chercheurs australiens découvrent des signes de vie extraterrestre sur terre, comme prévu par les Mayas. Pour être précis, ces chercheurs ont retrouvé plusieurs cartes décrivant des chambres et des tunnels souterrains très anciens, sous le pôle sud. La première carte a été découverte le soir de Noël, dans le Queen Mary Land.
                </p>
                <img class="pull-right" src="/img/tasks/robots.png">
                <!-- <div class="pull-right" style="width:50%"><img src="/img/tasks/robots.png"></div> -->
                <p>
                  Par ailleurs, le hasard est venu en aide aux scientifiques: ils sont parvenus, à l'aide d'un sonar, à localiser une des chambres souterraines, et même à percer un tunnel qui y mène. Maintenant, ils souhaiteraient envoyer un petit robot dans cette chambre.
                </p>
                <p>
                  Étant donné que les tunnels sont vraiment creusés très profonds, le robot doit recevoir toutes ses instructions avant d'y être envoyé. Une fois dans la chambre, il ne peut plus être contacté, si ce n'est qu'à la fin de sa mission il aura la possibilité d'envoyer, aux scientifiques restés à la surface, une courte vidéo.
                </p>
                <p>
                  Le robot ne comprend que quatre instructions simples: <strong>nord</strong>, <strong>est</strong>, <strong>sud</strong> et <strong>ouest</strong>. Quand il reçoit, par exemple, l'instruction <strong>nord</strong>, il emprunte la sortie la plus au nord de la chambre dans laquelle il se trouve, suit le tunnel, et continue à rouler jusqu'à atteindre la chambre suivante. Ensuite, il exécute l'instruction suivante (les trois autres instructions fonctionnent de façon similaire, mais avec les autres directions).
                </p>
                <p>
                  Les scientifiques sont particulièrement intéressés par la chambre qui est marquée d'un rond noir sur la carte. Malheureusement, ils ne savent pas dans quelle chambre le robot sera déposé. Quelles instructions doit-on donner au robot pour s'assurer qu'il atteint la bonne chambre ?
                </p>
                <p>
                  <strong>Donnez les instructions qu'il faut donner au robot pour la carte ci-contre. Après la dernière instruction, le robot doit être arrivé dans la chambre qui est marquée d'un point noir, peu importe la chambre dans laquelle il a commencé.</strong>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <!--end of button tabs-->
      </div>
      <h4 class="text-center">Plus de questions et solutions d'ici peu ...</h4>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
