/****** PLACE YOUR CUSTOM STYLES HERE ******/

dl.category-list dt {
  width: 50px;
}
dl.category-list dd {
  margin-left: 70px;
}
section.altern:nth-of-type(odd){
  background: #f8f8f8;
}
.accordion li.active .content{ 
  max-height: none !important; 
}

ul[data-bullet] li {
  line-height: 24px !important;
}
